
.indexPage header {
    @include headerBackground("../deliciousAssets/home1.jpeg", 70vh);
}

.blogPage header {
    @include headerBackground("../deliciousAssets/blog1.jpeg", 50vh);
}

.contactPage header {
    @include headerBackground("../deliciousAssets/contact1.jpeg", 50vh);
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    li {
        display: none;
    }
}

