img {
    width: 100%;
    display: block;
}

.recipes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.indexPage h2 {
    position: relative;
}

.divider {
    width: 10rem;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 40%;
    background-color: $secColour;
}

.recipesContent {
    padding: 4rem;
}

.recipeOptions {
    padding: 50px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
        li {
            display: flex;
            text-align: left;
                div {
                    padding: 10px;
                }
        }
}

.restaurantImage {
    position: relative;
}

.restaurantMainImage {
    width: 500px;
    height: 300px;
    margin: 0 auto;
}

.seal {
    height: 100px;
    width: 100px;
    position: absolute;
    top: -30px;
    right: 20%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr), minmax(350px, 1fr));
}

.testimonial {
    background-color: $lightSecColour;

}

