ul {
    list-style: none;
        a{
            text-decoration: none;
        }
}
header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header a {
    padding: 10px;
}