html {
    font-size: 62.5%;
}

body {
    font-family: $mainFont;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0.3px;
}

h1, 
h2,
h3 {
    font-family: $titleFont;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 3.6px;
    letter-spacing: 0.5px;
    margin: 25px auto;
}

header h1,
header h2 {
    margin: 25px;
}

.headerLogo a{
    color: black;
    text-decoration: none;
    font-family: $titleFont;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 2.4rem; 
    letter-spacing: 1.1px;
}

header a {
    font-family: $titleFont;

}

.indexPage main {
    text-align: center;
}

.recipeOptions i {
    font-size: 3.6rem;
    font-weight: bold;
}

.recipeOptions {
    background-color: $lightColour;
    p {
        color: $midColour;
    }
}


footer h3,
footer i {
    color: $lightColour;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
    letter-spacing: 0.5px;
}

footer p,
footer a,
footer legend {
    font-family: $mainFont;
    font-size: 1.3rem;
    line-height: 4.4rem;
    letter-spacing: 0.3px;
    color: $midColour;
} 

.copyright a {
    text-decoration: none;
    text-transform: uppercase;
    color: $secColour;
}

blockquote {
    font-family: $mainFont;
    font-size: 2.4rem;
    font-style: italic;
    letter-spacing: 0.6px;
}
