a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lora", serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.3px;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 3.6px;
  letter-spacing: 0.5px;
  margin: 25px auto;
}

header h1,
header h2 {
  margin: 25px;
}

.headerLogo a {
  color: black;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 1.1px;
}

header a {
  font-family: "Raleway", sans-serif;
}

.indexPage main {
  text-align: center;
}

.recipeOptions i {
  font-size: 3.6rem;
  font-weight: bold;
}

.recipeOptions {
  background-color: #F6F6F6;
}

.recipeOptions p {
  color: #999999;
}

footer h3,
footer i {
  color: #F6F6F6;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.5px;
}

footer p,
footer a,
footer legend {
  font-family: "Lora", serif;
  font-size: 1.3rem;
  line-height: 4.4rem;
  letter-spacing: 0.3px;
  color: #999999;
}

.copyright a {
  text-decoration: none;
  text-transform: uppercase;
  color: #64A604;
}

blockquote {
  font-family: "Lora", serif;
  font-size: 2.4rem;
  font-style: italic;
  letter-spacing: 0.6px;
}

.indexPage header {
  background-image: url("../deliciousAssets/home1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
}

.blogPage header {
  background-image: url("../deliciousAssets/blog1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

.contactPage header {
  background-image: url("../deliciousAssets/contact1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.menu li {
  display: none;
}

.menu li a {
  color: #333333;
  text-transform: uppercase;
}

.menu li a:hover, .menu li a:focus {
  color: #64A604;
}

.bars {
  font-size: 2.4rem;
}

@media (min-width: 500px) {
  .headerLogo a {
    font-size: 4.6rem;
  }
  .bars {
    font-size: 3.6rem;
  }
}

a:hover,
a:focus {
  color: #64A604;
}

@media (min-width: 900px) {
  header .menu li {
    display: inherit;
  }
  .bars {
    display: none;
  }
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header a {
  padding: 10px;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1800px;
  width: 90%;
  margin: 0 auto;
  padding: 5% 0;
}

.recipes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.indexPage h2 {
  position: relative;
}

.divider {
  width: 10rem;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 40%;
  background-color: #64A604;
}

.recipesContent {
  padding: 4rem;
}

.recipeOptions {
  padding: 50px;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.recipeOptions li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.recipeOptions li div {
  padding: 10px;
}

.restaurantImage {
  position: relative;
}

.restaurantMainImage {
  width: 500px;
  height: 300px;
  margin: 0 auto;
}

.seal {
  height: 100px;
  width: 100px;
  position: absolute;
  top: -30px;
  right: 20%;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.testimonial {
  background-color: #DDED9A;
}

.blogPage section {
  margin: 50px auto;
}

.blogPage section:not(:last-child) {
  border-bottom: 0.5px solid #999999;
}

.blogPage main a {
  text-decoration: none;
  color: inherit;
}

.blogPage main a:hover, .blogPage main a:focus {
  color: #64A604;
}

.blogMain h1 {
  font-size: 2.4rem;
}

.blogMain p {
  margin: 25px 0;
  color: #999999;
}

.blogMain p:first-of-type {
  font-family: "Raleway", sans-serif;
  color: black;
}

@media (min-width: 740px) {
  .blogMain h1 {
    font-size: 3.6rem;
  }
}

.blogLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogLinks h2 {
  margin: 25px 0;
}

.blogLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogLinks li {
  padding: 0 3px;
  color: #999999;
}

.blogProfile > * {
  margin: 25px;
}

.blogProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blogProfile img {
  min-height: 250px;
  min-width: 200px;
  max-width: 25vh;
}

.blogProfileInfo {
  background-color: #F6F6F6;
  padding: 50px;
  max-width: 70%;
}

.blogProfileInfo p {
  color: #999999;
  font-family: "Lora", serif;
  font-weight: 400;
}

.relatedContent h2 {
  font-size: 2.4rem;
}

.blogArticles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogArticles article {
  margin: 25px 0;
  -ms-flex-preferred-size: 1 1 150px;
      flex-basis: 1 1 150px;
}

.blogArticles article p {
  color: #999999;
}

.blogArticles article a,
.blogArticles article span {
  color: black;
  font-family: "Raleway", sans-serif;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px 0;
}

.comment img {
  width: 70px;
  height: 70px;
}

.commentInfo {
  background-color: #F6F6F6;
  padding: 15px;
  margin: 25px 0;
}

.commentInfo h3,
.commentInfo p:first-of-type {
  display: inline-block;
}

.commentInfo p:last-of-type {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-top: 15px;
}

@media (min-width: 740px) {
  .comment {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .comment .commentInfo {
    margin: 0 25px;
  }
}

.blogComments {
  margin: 15px;
}

.blogComments legend {
  color: #999999;
  font-style: italic;
}

.blogComments input {
  padding: 15px;
  width: calc(100% - 30px);
  margin: 15px;
}

.blogComments input.commentSpot {
  padding-bottom: 200px;
}

.blogComments button {
  background-color: #64A604;
  padding: 25px;
  color: #F6F6F6;
  text-transform: uppercase;
  border: none;
  margin: 15px;
}

@media (min-width: 740px) {
  .blogComments fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blogComments fieldset input {
    max-width: 30%;
    -ms-flex-preferred-size: 1 1 auto;
        flex-basis: 1 1 auto;
  }
  .blogComments fieldset input.commentSpot {
    max-width: 100%;
  }
}

.contactDetails {
  background-color: #F6F6F6;
  padding: 25px;
}

.contactDetails h1 {
  font-size: 2.4rem;
  margin: 50px 0;
}

.contactDetails p,
.contactDetails li {
  color: #999999;
  margin-bottom: 40px;
}

.contactDetails time {
  color: #999999;
}

.contactDetails time span {
  font-family: "Raleway", sans-serif;
  color: #333333;
}

.contactDetails a {
  text-decoration: none;
  color: #999999;
}

.contactForm {
  background-color: #FFFFFF;
  margin: 25px;
}

.contactForm input {
  background-color: #F6F6F6;
  border: none;
  padding: 10px 15px;
  margin: 15px;
  width: 90%;
}

.contactForm input[placeholder] {
  color: #999999;
  font-style: inherit;
  font-family: "Lora", serif;
}

.contactForm input.messageSpot {
  padding-bottom: 200px;
}

.contactForm button {
  border: none;
  color: #64A604;
  text-transform: uppercase;
  font-weight: 700;
  background: #FFFFFF;
}

.contactImage {
  background-image: url(../deliciousAssets/contact2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}

@media (min-width: 740px) {
  .contactPage main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .contactForm .name,
  .contactForm .email {
    width: 40%;
  }
  .contactForm .name {
    margin-right: 7%;
  }
}

footer {
  background-color: #333333;
}

.footer {
  text-align: left;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.footerLogo {
  text-transform: uppercase;
  color: #64A604;
  font-size: 3.6rem;
  padding-bottom: 15px;
}

.footer p,
.footer li:not(:last-child),
footer form {
  border-bottom: 0.5px solid #999999;
}

.footer .socials li {
  border-bottom: none;
}

.subscribeForm input[type="email"] {
  background-color: #525252;
  width: 80%;
}

.subscribeForm input[type="email"],
.subscribeForm button {
  margin: 25px 0;
  border: none;
  float: left;
}

.subscribeForm input[placeholder] {
  padding: 15px 25px;
  color: #F6F6F6;
  font-style: italic;
}

.subscribeForm button {
  background-color: #64A604;
  padding: 15px 20px;
  width: 20%;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials i {
  padding: 10px;
}

.copyright {
  background-color: #2E2E2E;
  padding-left: 10%;
}
